*.interp
*.tokens
*~
*.png
*.iml
*.json
*.pyc
*.log
*.pdf
*.m
*.expdist1out
*.out
benchmarks/*/*/*.py
benchmarks/psense_bench/*/*/
dependency-reduced-pom.xml
ASense_tests/*
.idea/
RQ1/
target/
.DS_Store
sense*.csv
results/*
output

benchmarks/*/*/*.py
